extends main/page_default

block head
    title Главная страница

block beforeBody
    -bodyClasses.push('front')

block header

block content

    +title-screen
    +block-olist
    section.block-interaction
        .container
            h4.block-interaction__title Интерактив — лучший формат вебинара
            .block-interaction__list
                ul
                    li
                        img(src="/img/content/interaction1.png", alt="Интерактив — лучший формат вебинара")
                        p Вы получите доступ в личный кабинет, где пройдете первые шаги по оцифровке бизнеса
                    li
                        img(src="/img/content/interaction2.png", alt="Интерактив — лучший формат вебинара")
                        p Сильное окружение. В проекте участвуют только те, кто готов работать на результат.
                    li
                        img(src="/img/content/interaction3.png", alt="Интерактив — лучший формат вебинара")
                        p Спикеры доступны в личном кабинете в течение 72 часов!
                    li
                        img(src="/img/content/interaction4.png", alt="Интерактив — лучший формат вебинара")
                        p Во время интерактива вы создаете свой план цифрового развития
            .block-interaction__desc
                p Интерактив – это начало проекта.<br>Практические действия в кругу замотивированных в успехе.<br>Развиваемся в сильном окружении с экспертами.
                p Вас ждет интерактив нацеленный на получение каждым участником своего результата.

    section.block-img-list
        .container
            img.block-img-list__img(src="/img/content/round.png" alt="ПОРЯДОК И ОЦИФРОВКА БИЗНЕСА")
            .block-img-list__content
                h4 Быть обязательно. <br>Потому что <b>вы получите:</b>
                ul
                    li Практические советы от представителей бизнеса, как продавать в постоянно меняющейся реальности
                    li Знания, как управлять подчиненными из любой точки мира и автоматизировать бизнес-процессы в компании
                    li Анкету по каждому докладу. Заполнив ее вы увидите свои перспективы развития
                    li Инструкцию к действию на основе ваших анкет после их обработки
                    li Час индивидуальной консультации от руководителя Академии Батухтина Григория
                    li Пошаговый план развития, который останется с вами в проектном офисе

    section.block-bonuses
        .container
            h4 Бонусы для участников
            ul
                li
                    img(src="/img/content/bonus1.png" alt="Бонусы для участников")
                    p Профайл вашей компании, показывающий уровень цифровизации
                li
                    img(src="/img/content/bonus2.png" alt="Бонусы для участников")
                    p Инструкции по развитию вашего бизнеса на основе заполненных анкет
                li
                    img(src="/img/content/bonus3.png" alt="Бонусы для участников")
                    p Сертификат на бесплатную консультацию по настройке бизнес-процессов

            a.btn.btn_main(href="#register") Начать развитие

    +schedule

block footer