extends main/page_default

block head
    title Онлайн-практикум по автоматизации бизнеса

block beforeBody
    -bodyClasses.push('front')

block header

block content

    +title-screen
    section.block-img-list
        .container
            img.block-img-list__img(src="./img/content/round.jpg" alt="ПОРЯДОК И ОЦИФРОВКА БИЗНЕСА")
            .block-img-list__content
                h4 <b>Что сейчас</b>
                ul
                    li сюда текст/содержимое нового блока
    section.block-img-list#results
        .container
            img.block-img-list__img(src="./img/content/round.png" alt="ПОРЯДОК И ОЦИФРОВКА БИЗНЕСА")
            .block-img-list__content
                h4 Приглашаем вас на <b>бесплатную онлайн-встречу</b> в формате <b>практикума</b>
                p Для руководителей и владельцев бизнеса, которые мечтают об эффективной дистанционной команде и хотят совершенствоваться, но устали разрываться между личной жизнью и работой, погрязли в рутине и желают побороть хаос.
                p Вы узнаете, как:
                ul
                    li Управлять бизнесом со смартфона за 2-4 часов в день.
                    li Сократить расходы минимум на 5% за счет удаленной команды.
                    li Стать лидером рынка, даже в перегретой нише, благодаря четкой маркетинговой стратегии.
                    li Контролировать всего 5 ключевых показателей в бизнесе, но при этом быстро масштабироваться и расти.
                    li Иметь, наконец, время на себя, семью, увлечения и собственное развитие.

                a.btn.btn_main(href="#register") ИДУ на практикум

    section.block-interaction
        .container
            h4.block-interaction__title Мы сделали участие в практикуме максимально удобным для вас:
            .block-interaction__list
                ul
                    li
                        img(src="./img/content/interaction1.png", alt="Интерактив — лучший формат вебинара")
                        p Личный кабинет в проектном офисе. У вас будет каркас задач по оцифровке вашего бизнеса.
                    li
                        img(src="./img/content/interaction2.png", alt="Интерактив — лучший формат вебинара")
                        p Во время вебинара вы заполняете анкеты в проектном офисе. Сразу создаете план своего развития!
                    li
                        img(src="./img/content/interaction3.png", alt="Интерактив — лучший формат вебинара")
                        p Общение со спикерами после вебинара через личный кабинет. Ответим на все вопросы.
                    li
                        img(src="./img/content/interaction4.png", alt="Интерактив — лучший формат вебинара")
                        p Полезные знакомства, нетворкинг, смелые идеи и возможности для выхода на новый уровень!
            .block-interaction__desc
                p После практикума вы поймете, как в кратчайшие сроки:
                ul
                    li Нанимать сотрудников на удаленную работу и экономить на зарплате
                    li Закрыть офис продаж и убрать из расходов коммунальную
                    li Инвестировать в свой бренд и вкладываться в развитие бизнеса
            .block-interaction__btn
                a.btn.btn_main(href="#register") Я иду

    //-+block-olist


    section.block-bonuses
        .container
            h4 Бонусы для участников
            ul
                li
                    img(src="./img/content/bonus1.png" alt="Бонусы для участников")
                    p Профайл вашей компании, показывающий уровень цифровизации
                li
                    img(src="./img/content/bonus2.png" alt="Бонусы для участников")
                    p Инструкции по развитию вашего бизнеса на основе заполненных анкет
                li
                    img(src="./img/content/bonus3.png" alt="Бонусы для участников")
                    p Сертификат на бесплатную консультацию по настройке бизнес-процессов

            a.btn.btn_main(href="#register") Иду на практикум


    +block-olist-schedule

    section.block-speakers
        .container
            h4 Спикеры
            .speakers-list
                .speakers-list__item
                    img(src="./img/content/schedule1.jpg", alt="Григорий Батухтин")
                    h5 Григорий Батухтин
                    p Директор Академии Цифровой Экономики
                .speakers-list__item
                    img(src="./img/content/schedule2.jpg", alt="Елена Виноградова")
                    h5 Елена Виноградова
                    p Эксперт по диджитал маркетингу
                .speakers-list__item
                    img(src="./img/content/schedule3.jpg", alt="Елена Дубровская")
                    h5 Елена Дубровская
                    p Психолог, коуч

    //-+schedule



    section#register.block-register
        .container
            .block-register__content
                h4 Регистрация на вебинар: <br>“Удаленные команды как источник прибыли”
                .block-register__desc Встреча состоится 23 ноября в 19:00 (Мск)
                img.block-register__img(src="./img/content/robot.png" alt="Регистрация на вебинар: “Удаленные команды как источник прибыли”")
            .block-register__form <script data-b24-form="inline/18/auze0c" data-skip-moving="true">(function(w,d,u){ var s=d.createElement('script');s.async=true;s.src=u+'?'+(Date.now()/180000|0);var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);})(window,document,'https://cdn-ru.bitrix24.ru/b202041/crm/form/loader_18.js');</script>
