mixin title-screen
    section.title-screen
        .container
            +header
            .title-screen__content
                .title-screen__text.title-screen-text
                    .title-screen-text__desc Практические действия для развития вашего бизнеса
                    .title-screen-text__date
                        strong 23 ноября 19:00 по мск
                        span онлайн-встреча интерактив
                    .title-screen-text__title Удаленные команды <br> как <strong>источник прибыли</strong>
