mixin title-screen
    section.title-screen
        .container
            +header
            .title-screen__wrapper
                .title-screen__content
                    .title-screen__text.title-screen-text
                        .title-screen-text__desc Интенсив для собственников бизнеса с оборотом от 20 млн в год
                        .title-screen-text__date
                            strong 23 ноября 19:00 по мск
                            span Бесплатная онлайн-встреча в формате практикума
                        .title-screen-text__title Как бизнесмену <strong>увеличить доход в 2 раза</strong> с помощью удаленной команды и системы автоматизации

                        p.title-screen-text__list-desc Получите пошаговый план построения и развития удаленной команды чтобы:
                        ul.title-screen-text__list
                            li Управлять бизнесом из любой точки мира 2-4 часа в день
                            li Сократить расходы минимум на 5%
                            li Кратно увеличить прибыль за 6-9 месяцев

                        a.btn.btn_main(href="#register") Участвовать

                .title-screen__abs
                    .title-screen__abs-desc <b>Григорий Батухтин</b> <span>Директор Академии <br>Цифровой Экономики</span>
                    img.title-screen__abs-img(src="./img/content/title-screen.png", alt="Интенсив для собственников бизнеса с оборотом от 20 млн в год")


                .title-screen__form <script data-b24-form="inline/18/auze0c" data-skip-moving="true">(function(w,d,u){ var s=d.createElement('script');s.async=true;s.src=u+'?'+(Date.now()/180000|0);var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);})(window,document,'https://cdn-ru.bitrix24.ru/b202041/crm/form/loader_18.js');</script>
