mixin footer
    footer.footer#contacts
        .container
            a.footer__logo(href="/"): img(src="img/main-logo.png", alt="Удалённые команды как источники прибыли")
            .footer__social
                ul
                    li: a(href="https://www.facebook.com/g.batuchtin", rel="nofollow", target="_blank"): img(src="./img/fb.png", alt="Facebook")
                    li: a(href="https://www.instagram.com/mysuperbrain/", rel="nofollow", target="_blank"): img(src="./img/ig.png", alt="Instagram")
                    li: a(href="https://vk.com/batuchtin", rel="nofollow", target="_blank"): img(src="./img/vk.png", alt="Вконтакте")
            .footer__contacts
                ul
                    li
                        span Email:
                        a(href="mailto:digital@itstudy.ru") digital@itstudy.ru
                    li
                        span WhatsApp:
                        a(target="_blank" href="https://api.whatsapp.com/send?phone=79881327628&text=%D0%92%D0%BE%D0%BF%D1%80%D0%BE%D1%81%20%D0%BF%D0%BE%20%D0%BE%D0%BD%D0%BB%D0%B0%D0%B9%D0%BD%20%D0%BF%D1%80%D0%B0%D0%BA%D1%82%D0%B8%D0%BA%D1%83%D0%BC%D1%83...") +7 988 132-76-28
