mixin footer
    footer.footer#contacts
        .container
            a.footer__logo(href="/"): img(src="img/main-logo.png", alt="Удалённые команды как источники прибыли")
            .footer__social
                ul
                    li: a(href="https://www.facebook.com/g.batuchtin", rel="nofollow", target="_blank"): img(src="/img/fb.png", alt="Facebook")
                    li: a(href="https://www.instagram.com/mysuperbrain/", rel="nofollow", target="_blank"): img(src="/img/ig.png", alt="Instagram")
                    li: a(href="https://vk.com/batuchtin", rel="nofollow", target="_blank"): img(src="/img/vk.png", alt="Вконтакте")
            .footer__contacts
                ul
                    li
                        span Email:
                        a(href="mailto:digital@itstudy.ru") digital@itstudy.ru
                    li
                        span Телефон:
                        a(href="tel:+79881327628") +7 988 132-76-28
