mixin block-olist
    section.block-olist
        .container
            h2.block-olist__title Порядок и оцифровка бизнеса
            .block-olist__desc <b>Как руководителю из любой точки мира</b> управлять многомиллионным бизнесом даже со смартфона?
            ol.block-olist__list
                li узнайте современные инструменты уменьшения затрат
                li расширьте территориальные границы своего бизнеса
                li получите пошаговый план развития
                li платформы управления командами, обеспечение ясности происходящего: визуализация выполнения работ
                li как наглядно вывести ключевые показатели бизнеса, осмысление пройденного, анализ текущего, прозревание будущего

            a.block-olist__btn.btn.btn_main(href="#register") Начать развитие

            img.block-olist__img(src="./img/content/hand.png" alt="Порядок и оцифровка бизнеса")
