mixin block-olist
    section.block-olist
        .container
            h2.block-olist__title Порядок и оцифровка бизнеса
            .block-olist__desc <b>Как руководителю из любой точки мира</b> управлять многомиллионным бизнесом даже со смартфона?
            ol.block-olist__list
                li узнайте современные инструменты уменьшения затрат
                li расширьте территориальные границы своего бизнеса
                li получите пошаговый план развития
                li платформы управления командами, обеспечение ясности происходящего: визуализация выполнения работ
                li как наглядно вывести ключевые показатели бизнеса, осмысление пройденного, анализ текущего, прозревание будущего

            a.block-olist__btn.btn.btn_main(href="#register") Начать развитие

            img.block-olist__img(src="./img/content/hand.png" alt="Порядок и оцифровка бизнеса")


mixin block-olist-schedule
    section.block-olist#programm
        .container
            h2.block-olist__title <b>Программа</b> вебинара-практикума:
            ol.block-olist__list
                li Опыт организации команд, расположенных в 14 городах
                li Организация работы удаленного отдела продаж
                li Увеличение прибыли за счет умного автоматизированного управления и контроля всех бизнес процессов вашего предприятия
                li Автоматизация отдела продаж и переход на удаленку
                li Умный роботизированный контроль клиента от заявки до сделки
                li Технологический и психологический аспекты управления
                li Сегментация клиентской базы и выявление ключевых клиентов
                li Автоматическое планирование коммуникации с клиентами
                li Методы выстраивания эффективной удаленной работы с клиентской базой
                li Интерактивная картина бизнес-процесса компании
                li Удаленное управление бизнесом, обеспечение эффекта присутствия руководители

            a.block-olist__btn.btn.btn_main(href="#register") НАЧАТЬ РАЗВИТИЕ

