mixin schedule
    section.schedule#programm
        .container
            h3 Программа мероприятия
            ul
                li.schedule-item
                    .schedule-item__img
                        img(src="./img/content/schedule1.jpg" alt="Григорий Батухтин")
                    .schedule-item__content
                        .schedule-item__content-top
                            .schedule-item__content-top-left
                                .schedule-item__name Григорий Батухтин
                                .schedule-item__position Директор Академии <br>Цифровой Экономики
                            .schedule-item__time 19:00 - 19:05 по мск
                        .schedule-item__title Приветственное слово организатора
                        .schedule-item__text
                            ul
                                li Опыт организации команд, расположенных в 14 городах
                                li Платформа Битркис24 для проектной работы и объединения удаленной команды
                                li Личный опыт нахождение на море и ведения бизнеса. Хотите так же?
                li.schedule-item
                    .schedule-item__img
                        img(src="./img/content/schedule2.jpg" alt="Елена Виноградова")
                    .schedule-item__content
                        .schedule-item__content-top
                            .schedule-item__content-top-left
                                .schedule-item__name Елена Виноградова
                                .schedule-item__position Эксперт по <br>диджитал маркетингу
                            .schedule-item__time 19:05 - 19:25 по мск
                        .schedule-item__title Организация работы удаленного отдела продаж, люди на стыке технологий
                        .schedule-item__text
                            ul
                                li Увеличиваем прибыль за счет умного автоматизированного управления и контроля всех бизнес процессов вашего предприятия
                                li Автоматизация отдела продаж и переход на удаленку. Какие ресурсы вы сэкономите и что еще выиграете от этого
                                li Умный роботизированный контроль клиента от заявки до сделки. Система поможет даже ленивому менеджеру закрыть сделку успешно!
                li.schedule-item
                    .schedule-item__img
                        img(src="./img/content/schedule3.jpg" alt="Елена Дубровская")
                    .schedule-item__content
                        .schedule-item__content-top
                            .schedule-item__content-top-left
                                .schedule-item__name Елена Дубровская
                                .schedule-item__position Психолог, коуч
                            .schedule-item__time 19:30 - 19:50 по мск
                        .schedule-item__title Я руководитель. Как развивать в себе требовательность
                        .schedule-item__text
                            ul
                                li Технологический и психологический аспекты управления
                                li Требовательности лидера. Можно ли научиться лидерству или лидером надо родиться
                                li Применение санкций, готовы ли вы?
                li.schedule-item
                    .schedule-item__img
                        img(src="./img/content/schedule1.jpg" alt="Григорий Батухтин")
                    .schedule-item__content
                        .schedule-item__content-top
                            .schedule-item__content-top-left
                                .schedule-item__name Григорий Батухтин
                                .schedule-item__position Директор Академии <br>Цифровой Экономики
                            .schedule-item__time 19:50 - 19:55 по мск
                        .schedule-item__title Как мы повысили эффективность работы с клиентской базой
                        .schedule-item__text
                            ul
                                li Сегментация клиентской базы и выявление ключевых клиентов
                                li Планирование коммуникации с клиентами. Автоматическая система напоминаний. Календарь действий.
                                li Методы выстраивание эффективной удаленной работы с клиентской базой. Менеджер и клиент всегда на связи.
                li.schedule-item
                    .schedule-item__img
                        img(src="./img/content/schedule1.jpg" alt="Григорий Батухтин")
                    .schedule-item__content
                        .schedule-item__content-top
                            .schedule-item__content-top-left
                                .schedule-item__name Григорий Батухтин
                                .schedule-item__position Директор Академии <br>Цифровой Экономики
                            .schedule-item__time 19:55 - 20:00 по мск
                        .schedule-item__title Как мы создали наглядную систему управления бизнесом
                        .schedule-item__text
                            ul
                                li Измеримость бизнес процессов, основа оптимизации бизнеса.
                                li Интерактивная картина бизнес процесса компании.
                                li Удаленное управление бизнесом, обеспечение эффекта присутствия руководители во время его отсутствия в офисе.
                li.schedule-item
                    .schedule-item__img
                        img(src="./img/content/schedule4.jpg" alt="Ответы на вопросы")
                    .schedule-item__content
                        .schedule-item__content-top
                            .schedule-item__content-top-left
                                .schedule-item__name.schedule-item__name_shadow Ответы на вопросы
                            .schedule-item__time 20:00 - 20:30 по мск
                        .schedule-item__title Изменяем привычный формат вебинара.
                        .schedule-item__text
                            ul
                                li Слушать экспертов и получать знание <b>полезно</b>, применять знания — <b>эффективно</b>.
                                li Мудрость — это применения знания.