mixin header
    header.header
        .header__wrapper
            .header__logo: a(href="/"): img(src="img/main-logo.png", alt="Удалённые команды как источники прибыли")
            nav.header__menu#headerMenu
                button.header__menu-close#menuClose(type="button") Закрыть меню
                ul
                    li: a(href="#register") Регистрация
                    li: a(href="#results") Что в результате?
                    li: a(href="#programm") Программа
                    li: a(href="#contacts") Контакты
            .header__contacts: a.btn.btn_main(target="_blank" href="https://api.whatsapp.com/send?phone=79881327628&text=%D0%92%D0%BE%D0%BF%D1%80%D0%BE%D1%81%20%D0%BF%D0%BE%20%D0%BE%D0%BD%D0%BB%D0%B0%D0%B9%D0%BD%20%D0%BF%D1%80%D0%B0%D0%BA%D1%82%D0%B8%D0%BA%D1%83%D0%BC%D1%83...")
                img(src="./img/whatsapp.png" width="18")
                span + 7 (988) 132-76-28
            button.header__burger#headerBurger(type="button") Открыть меню